<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="device-width, initial-scale=1.0">
        <title>ReproCare Health</title>
        <meta name="Description" content="Prioritize Your Reproductive Health Today. ReproCare Health provides trusted reproductive health services, resources, and expert advice to empower individuals. Join us and take control of your reproductive health.">
        <!-- Link to external css file-->
         <link rel="stylesheet" href="styles.css">
    </head>
    <br />
    <body>
        <!-- Header -->
         <header>
          <h1>Welcome to ReproCare Health</h1>
          <p>Your trusted reproductive health patner</p>
         </header>

         <!-- Navigation Bar -->
         <nav>
          <label class="logo">ReproCare Health</label>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
         </nav>

         <!-- Main Content -->
          <main>
            <!-- Heading and paragraph -->
             <section>
              <h2>Join the ReproCare Health Community</h2>
              <p>At ReproCare Health, we are committed to providing exceptional reproductive health services. Please fill out the form below to register for our services, and feel free to explore the information we have provided.</p>
             </section>

         <!-- Registration Form -->
          <section>
            <h3>Registration Form</h3>
          <form action="submit_registration.php" method="post">
            <label for="name">Full name:></label><br>
            <input type="text" id="name" required><br><br>

            <label for="email">Email:></label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="phone">Phone number:></label><br>
            <input type="tel" id="phone" name="phone"> required<br><br>

            <input type="submit" value="Register">
          </section>
         </form>

         <!-- Table displaying common user information-->
          <section>
            <h2>User information</h2>
          <table border="1">
            <tr>
             <th>Name</th>
             <th>Email</th>
             <th>Phone number</th> 
            </tr>
            <tr>
              <td>ReproCare Health</td>
             <th>reprocarehealth@gmail.com</th>
             <th>+254737442220</th>
            </tr>
            </table>
          </section>

          <!-- Image -->
           <section>
            <h2>Our Services</h2>
            <img src="D:\ReproCare\Web\Our services.png" alt="services image">
           </section>

           <!-- External Link -->
            <section>
              <p>For more information, visit <a href="https://sites.google.com/view/reprocarehealth/home">google page </a></a></p>
            </section>
          </main>

          <!-- Footer -->
           <footer>
            <p>&copy; 2024 ReproCare Health. All rights reserved.</p>
           </footer>
      </body>
</html>
